.header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 3px rgb(0, 0, 0);
    margin: 0;
}

.menu {
    margin: 0;
    padding: 5px;
    display: flex;
    list-style: none;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.logo {
    width: auto;
    height: 2rem;
}